	body{
		margin: 0px;
		margin-top: -20px;
		margin-right: 0px;
		margin-left: 0px;
		padding-right:  0px;
		background-color: white;
	}
	ul.navbar{
		list-style-type: none;
		background-image: url('imagenes/fondo.png');
		height: 200px;
	}	
	ul.navbar li {
		float: left;
		padding: 50px;
	}